/* aca comienza el texto*/

.imgbel {
    width: 100%;
}

.parra1 h4 {
    text-decoration: underline;
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 2px 3px blue;
}

.parra1 p {
    margin-left: 5px;
}

.parra1 p::first-letter {
    font-size: 3em;
    font-weight: bold;
    line-height: .9em;
    margin: .1em;
}

.lugares h5 {
    text-decoration: underline;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 2px 3px blue;
}

.lugares p:first-letter {
    font-size: 3em;
    font-weight: bold;
    line-height: .9em;
    margin: .1em;
}

.lugares p {
    margin-left: 5px;
}

.pesca h6 {
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    text-shadow: 1px 2px 3px blue;
}

.pesca li {
    margin-left: 5px;
}

.pesca p {
    font-size: 1em;
    margin-left: 5px;
    text-shadow: 1px 2px 3px blue;
}

.pesca a {
    color: rgb(247, 10, 10);
    cursor: pointer;
}

.inicio {
    font-size: 30px;
    float: right;
    margin-right: 10px;
    margin-top: -40px;
    background-origin: padding-box;
    color: rgb(69, 24, 230);
}

.inicio a {
    text-decoration: none;
}

.gps {
    width: 100px;
}

.fondo {
    background-color: rgb(252, 166, 55);
}